body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.layout {
  margin: 0 10px;
  max-width: 1200px;

  @media (min-width: 1200px) {
    margin: 0 auto;
  }
}

.inner-layout {
  margin: 0 10px;
  max-width: 940px;

  @media (min-width: 940px) {
    margin: 0 auto;
  }
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;
}

p {
  margin: 0;
}

.footer {
  position: relative;
  font-family: 'Gilroy';
  color: $color-white;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 50%;
    height: 100%;
    background-color: $color-blue-02;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -1;
    width: 50%;
    height: 100%;
    background-color: $color-blue-04;
  }
}