body {
  margin: 0;
}

.layout {
  max-width: 1200px;
  margin: 0 10px;
  margin-top: 40px;

  @media (min-width: 1200px) {
    margin: 0 auto;
    margin-top: 40px;
  }
}

.inner-layout {
  max-width: 940px;
  margin: 0px 10px;

  @media (min-width: 940px) {
    margin: 0px auto;
  }
}
